#header{
  border-bottom:  2px solid black;
}
#output{
  color: black !important;
}
#input{
  color: rgba(0,0,0,0.7);
}
.button{
  color: black;
}
#container{
  background: #f4f4f4;
}
#menuopen{
  color: black;
}
#menuclose{
  color: #f4f4f4;
}
#menucontent{
  color: #f4f4f4;
  background: black;
}
input:checked + .slider {
  background-color: black;
}
input:focus + .slider {
  box-shadow: 0 0 1px black;
}
.slider:before {
 background-color: white;
}
.slider {
 background-color: black;
}
.dark, .white{
  display:none !important;
}
.light{
  display:inline !important;
}
